{% extends 'base/base.html' %} {% load static %} {% block content %}
<a href="/organization_admin_home_page" class="btn btn-sm btn-info">Back to home</a>
<br /><br />
<div class="row">
  <!-- Adding data into the database -->
  <div class="col-sm-4">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <h4 class="card-title text-center alert alert-info mb-4">
          Add New Doctor
        </h4>
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Showing data from the database -->
  <div class="col-sm-8">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <h4 class="card-title text-center alert alert-info mb-4">
          All Records of Doctors
        </h4>
        {% if all_records %}
        <h4>Table Data</h4>
        <div class="table-responsive">
          <table class="table table-hover table-dark text-light">
            <thead>
              <tr>
                <th scope="col">Sr.no</th>
                <th scope="col">Doctor Id</th>
                <th scope="col">Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>
                <th scope="col">Degrees</th>
                <th scope="col">Specialization</th>
                <th scope="col">Organization id</th>
                <th scope="col">Phone number</th>
              </tr>
            </thead>
            <tbody>
              {% for key in all_records %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ key.doctor_id }}</td>
                <td>
                  {{ key.first_name }} {{ key.middle_name }} {{ key.last_name }}
                </td>
                <td>{{ key.dob }}</td>
                <td>{{ key.gender }}</td>
                <td>{{ key.address }}</td>
                <td>
                  <ul class="list-unstyled">
                    {% for degree in key.degrees.all %}
                    <li>{{ degree.name }}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{ key.specialization }}</td>
                <td>{{ key.organization_id }}</td>
                <td>{{ key.phone_number }}</td>
                <td>
                  <a
                    href="{% url 'update_doctor_record' key.pk %}"
                    class="btn btn-warning btn-sm d-inline"
                    >Edit</a
                  >
                </td>
                <td>
                  <form
                    action="{% url 'delete_doctor_record' key.pk %}"
                    method="POST"
                    class="d-inline"
                  >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm ml-2">
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <h4 class="text-center alert alert-warning">
          No records in the Database!
        </h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
